
*.*
!*.v
!*.vhd
!*.pao
!*.bbd
!*.mpd
!*.c
!*.h
!*.py
!peripherals/*
!*.mhs
!*.bmp
!*.png
!*.ipynb
!*.pkl
!*.ui
!*.xlsx
!*.pyc
!*.dll
!*.pyd
!*.m
!*.fig
!*.mat
!*.lib
!*.exp
!*.obj
!*.i
!*.pdf
!*.ucf
!*.xco
!*.dll
!*.lib
!*.pro
!*.cpp
!.gitignore
!mb_top.bit
!*.prj