#
# pin constraints
#
#
# additional constraints
#

NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

NET "SPI_FLASH_SS[9]" IOSTANDARD = LVCMOS33;
NET "SPI_FLASH_SS[9]" DRIVE = 24;
NET "SPI_FLASH_SS[8]" IOSTANDARD = LVCMOS33;
NET "SPI_FLASH_SS[8]" DRIVE = 24;
NET "SPI_FLASH_SS[7]" IOSTANDARD = LVCMOS33;
NET "SPI_FLASH_SS[7]" DRIVE = 24;
NET "SPI_FLASH_SS[6]" IOSTANDARD = LVCMOS33;
NET "SPI_FLASH_SS[6]" DRIVE = 24;
NET "SPI_FLASH_SS[5]" IOSTANDARD = LVCMOS33;
NET "SPI_FLASH_SS[5]" DRIVE = 24;
NET "SPI_FLASH_SS[4]" IOSTANDARD = LVCMOS33;
NET "SPI_FLASH_SS[4]" DRIVE = 24;
NET "SPI_FLASH_SS[3]" IOSTANDARD = LVCMOS33;
NET "SPI_FLASH_SS[3]" DRIVE = 24;
NET "SPI_FLASH_SS[2]" IOSTANDARD = LVCMOS33;
NET "SPI_FLASH_SS[2]" DRIVE = 24;
NET "SPI_FLASH_SS[1]" IOSTANDARD = LVCMOS33;
NET "SPI_FLASH_SS[1]" DRIVE = 24;
NET "SPI_FLASH_SS[0]" IOSTANDARD = LVCMOS33;
NET "SPI_FLASH_SS[0]" DRIVE = 24;
NET "SPI_FLASH_MOSI" IOSTANDARD = LVCMOS33;
NET "SPI_FLASH_MOSI" DRIVE = 24;
NET "SPI_FLASH_MISO" IOSTANDARD = LVCMOS33;
NET "SPI_FLASH_MISO" DRIVE = 24;
NET "SPI_FLASH_SCLK" IOSTANDARD = LVCMOS33;
NET "SPI_FLASH_SCLK" DRIVE = 24;

NET "SPI_FLASH_SS[9]" LOC = M1;
NET "SPI_FLASH_SS[8]" LOC = M2;
NET "SPI_FLASH_SS[7]" LOC = N1;
NET "SPI_FLASH_SS[6]" LOC = AA3;
NET "SPI_FLASH_SS[5]" LOC = C18;
NET "SPI_FLASH_SS[4]" LOC = D17;
NET "SPI_FLASH_SS[3]" LOC = A20;
NET "SPI_FLASH_SS[2]" LOC = B20;
NET "SPI_FLASH_SS[1]" LOC = C19;
NET "SPI_FLASH_SS[0]" LOC = F15;
NET "SPI_FLASH_MISO" LOC = AB20;
NET "SPI_FLASH_MOSI" LOC = W18;
NET "SPI_FLASH_SCLK" LOC = V17;
