PIN "MBI_regs/BUFGCE_inst.O" CLOCK_DEDICATED_ROUTE = FALSE;

NET "USER_CLOCK" LOC = AB13;
NET "USER_CLOCK" IOSTANDARD = LVCMOS33;

NET "MBI_CLKN_MOD" LOC = V22;
NET "MBI_CLKN_MOD" IOSTANDARD = LVCMOS33;
NET "MBI_CLK_MOD" LOC = K19;
NET "MBI_CLK_MOD" IOSTANDARD = LVCMOS33;