############################################################################
# XEM6310 - Xilinx constraints file
#
# Pin mappings for the XEM6310.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2014 Opal Kelly Incorporated
############################################################################
CONFIG VCCAUX = "3.3"; //Required for Spartan-6

############################################################################
## FrontPanel Host Interface
############################################################################
NET "okHU[0]"        LOC="AA8"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okHU[1]"        LOC="U10"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okHU[2]"        LOC="AB5"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUH[0]"        LOC="Y12"    | IOSTANDARD="LVCMOS18"; 
NET "okUH[1]"        LOC="AA4"    | IOSTANDARD="LVCMOS18";
NET "okUH[2]"        LOC="AB3"    | IOSTANDARD="LVCMOS18";
NET "okUH[3]"        LOC="Y6"     | IOSTANDARD="LVCMOS18";
NET "okUH[4]"        LOC="AB21"   | IOSTANDARD="LVCMOS18";
NET "okUHU<0>"       LOC="AB12"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<1>"       LOC="AA12"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<2>"       LOC="Y13"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<3>"       LOC="AB18"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<4>"       LOC="AA18"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<5>"       LOC="V15"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<6>"       LOC="AB2"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<7>"       LOC="AA2"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<8>"       LOC="Y7"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<9>"       LOC="Y4"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<10>"      LOC="W4"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<11>"      LOC="AB6"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<12>"      LOC="AA6"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<13>"      LOC="U13"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<14>"      LOC="U14"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<15>"      LOC="AA20"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<16>"      LOC="T16"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<17>"      LOC="AA10"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<18>"      LOC="U16"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<19>"      LOC="Y15"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<20>"      LOC="R15"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<21>"      LOC="U17"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<22>"      LOC="AA14"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<23>"      LOC="T15"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<24>"      LOC="T10"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<25>"      LOC="Y17"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<26>"      LOC="AA16"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<27>"      LOC="R16"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<28>"      LOC="V9"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<29>"      LOC="AB15"   | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<30>"      LOC="Y5"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<31>"      LOC="U8"     | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okAA"           LOC="W11"    | IOSTANDARD="LVCMOS18";

NET "okUH[0]" TNM_#NET = "okHostClk";
TIMESPEC "TS_okHostClk" = PERIOD "okHostClk" 9.92 ns HIGH 50%;

NET "okUHU[*]" TNM = "okHostINOUT_grp";
TIMEGRP "okHostINOUT_grp" OFFSET = IN 2 ns VALID 4 ns BEFORE "okUH[0]" RISING;
TIMEGRP "okHostINOUT_grp" OFFSET = OUT 8 ns AFTER "okUH[0]" RISING;

NET "okHU[2]" TNM = "okHostOUT_grp";
NET "okHU[0]" TNM = "okHostOUT_grp";
NET "okHU[1]" TNM = "okHostOUT_grp";
TIMEGRP "okHostOUT_grp" OFFSET = OUT 8 ns AFTER "okUH[0]" RISING;

NET "okUH[4]"   TNM = "okHostIN_grp";
NET "okUH[3]"   TNM = "okHostIN_grp";
NET "okUH[2]"   TNM = "okHostIN_grp";
NET "okUH[1]"   TNM = "okHostIN_grp";
TIMEGRP "okHostIN_grp" OFFSET = IN 2 ns VALID 2 ns BEFORE "okUH[0]" RISING;

############################################################################
## System Clocks                                                        
############################################################################
NET "sys_clkp"       LOC=Y11      | IOSTANDARD=LVDS_25;
NET "sys_clkn"       LOC=AB11     | IOSTANDARD=LVDS_25;
NET "sys_clkp" TNM_NET = "okSysClk";
TIMESPEC "TS_okSysClk" = PERIOD "okSysClk" 10 ns HIGH 50%;

############################################################################
## User Reset                                                        
############################################################################
NET "reset"          LOC="AB8"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
#
#
#NET "" LOC="" ; # JP2-1 
#NET "" LOC="" ; # JP2-2 
#NET "" LOC="Vbatt" ; # JP2-3 
#NET "" LOC="" ; # JP2-4 
#NET "" LOC="" ; # JP2-5 
#NET "" LOC="" ; # JP2-6 
#NET "" LOC="" ; # JP2-7 
#NET "" LOC="" ; # JP2-8 
#NET "" LOC="" ; # JP2-9 
#NET "" LOC="Bank 1 VREF" ; # JP2-10 
NET "PRECH_COL" LOC="U12" ; # JP2-11 
#NET "OUT1_control" LOC="U12" ; # JP2-11 
#NET "CE" LOC="U12" ; # JP2-11 
#NET "" LOC="Rfuse" ; # JP2-12 
#NET "" LOC="" ; # JP2-13 
#NET "" LOC="" ; # JP2-14 
#NET "" LOC="G16" | IOSTANDARD=LVCMOS33; # JP2-15 
NET "DIGMUX_OUT" LOC="G19" | IOSTANDARD=LVCMOS33; # JP2-16 input
NET "RESETB" LOC="G17" | IOSTANDARD=LVCMOS33; # JP2-17 
#NET "CS_b" LOC="G17" | IOSTANDARD=LVCMOS33; # JP2-17
#NET "" LOC="F20" | IOSTANDARD=LVCMOS33; # JP2-18 
NET "SPI_DATA" LOC="H19" | IOSTANDARD=LVCMOS33; # JP2-19 
NET "ZeroCross" LOC="H20" | IOSTANDARD=LVCMOS33; # JP2-20 
NET "SPI_CLK" LOC="H18" | IOSTANDARD=LVCMOS33; # JP2-21 
#NET "STAT_MB" LOC="H18" | IOSTANDARD=LVCMOS33; # JP2-21 
#NET "" LOC="J19" | IOSTANDARD=LVCMOS33; # JP2-22 
NET "SPI_UPLOAD" LOC="F16" | IOSTANDARD=LVCMOS33; # JP2-23 
#NET "SYNC_MB" LOC="F16" | IOSTANDARD=LVCMOS33; # JP2-23 
#NET "" LOC="D19" | IOSTANDARD=LVCMOS33; # JP2-24 
NET "CS_PLL_b" LOC="F17" | IOSTANDARD=LVCMOS33; # JP2-25 
#NET "Tof_SIG" LOC="F17" | IOSTANDARD=LVCMOS33; # JP2-25 
#NET "" LOC="D20" | IOSTANDARD=LVCMOS33; # JP2-26 
NET "CS_ADC1" LOC="J17" | IOSTANDARD=LVCMOS33; # JP2-27 
#NET "OUT0_control" LOC="J17" | IOSTANDARD=LVCMOS33; # JP2-27 
#NET "" LOC="F18" | IOSTANDARD=LVCMOS33; # JP2-28 
NET "CS_ADC2" LOC="K17" | IOSTANDARD=LVCMOS33; # JP2-29 
#NET "" LOC="F19" | IOSTANDARD=LVCMOS33; # JP2-30 
NET "SHDN_POT_5V" LOC="K16" | IOSTANDARD=LVCMOS33; # JP2-31 
NET "PLL_CONTROL[1]" LOC="M16" | IOSTANDARD=LVCMOS33; # JP2-32 
NET "SPI_OE" LOC="J16" | IOSTANDARD=LVCMOS33; # JP2-33 
NET "PLL_CONTROL[0]" LOC="L15" | IOSTANDARD=LVCMOS33; # JP2-34 
#NET "" LOC="Bank 1 VCCO" ; # JP2-35 
#NET "" LOC="" ; # JP2-36 
NET "CS_POT2" LOC="V21" | IOSTANDARD=LVCMOS33; # JP2-37 
NET "ADC_CLKOUT_2" LOC="K20" | IOSTANDARD=LVCMOS33; # JP2-38 
NET "CS_POT1" LOC="V22" | IOSTANDARD=LVCMOS33; # JP2-39 
#NET "" LOC="K19" | IOSTANDARD=LVCMOS33; # JP2-40 
NET "CS_READ_ADC" LOC="T21" | IOSTANDARD=LVCMOS33; # JP2-41 
NET "ADC_DIN2[2]" LOC="U20" | IOSTANDARD=LVCMOS33; # JP2-42 
NET "RS_POT" LOC="T22" | IOSTANDARD=LVCMOS33; # JP2-43 
NET "ADC_DIN2[3]" LOC="U22" | IOSTANDARD=LVCMOS33; # JP2-44 
NET "ACLK" LOC="P21" | IOSTANDARD=LVCMOS33; # JP2-45 
NET "ADC_DIN2[1]" LOC="R20" | IOSTANDARD=LVCMOS33; # JP2-46 
NET "SPI_DI" LOC="P22" | IOSTANDARD=LVCMOS33; # JP2-47 
NET "ADC_DIN2[0]" LOC="R22" | IOSTANDARD=LVCMOS33; # JP2-48 
NET "SPI_DO" LOC="M21" | IOSTANDARD=LVCMOS33; # JP2-49 
NET "ADC_DIN2[5]" LOC="N20" | IOSTANDARD=LVCMOS33; # JP2-50 
NET "SPICLK" LOC="M22" | IOSTANDARD=LVCMOS33; # JP2-51 
NET "ADC_DIN2[4]" LOC="N22" | IOSTANDARD=LVCMOS33; # JP2-52 
NET "MSTREAM[17]" LOC="L20" | IOSTANDARD=LVCMOS33; # JP2-53 
NET "ADC_DIN2[7]" LOC="M20" | IOSTANDARD=LVCMOS33; # JP2-54 
#NET "" LOC="Bank 1 VCCO" ; # JP2-55 
#NET "" LOC="" ; # JP2-56 
NET "EN_STREAM" LOC="L22" | IOSTANDARD=LVCMOS33; # JP2-57 
NET "ADC_DIN2[6]" LOC="L19" | IOSTANDARD=LVCMOS33; # JP2-58 
NET "MSTREAM[18]" LOC="H21" | IOSTANDARD=LVCMOS33; # JP2-59 
#NET "" LOC="K21" | IOSTANDARD=LVCMOS33; # JP2-60 
NET "MSTREAM[13]" LOC="H22" | IOSTANDARD=LVCMOS33; # JP2-61 
NET "ADC_INCLK" LOC="K22" | IOSTANDARD=LVCMOS33; # JP2-62 
NET "MSTREAM[15]" LOC="F21" | IOSTANDARD=LVCMOS33; # JP2-63 
NET "SH_R2" LOC="G20" | IOSTANDARD=LVCMOS33; # JP2-64 
NET "CLKM" LOC="F22" | IOSTANDARD=LVCMOS33; # JP2-65 
NET "STBY" LOC="G22" | IOSTANDARD=LVCMOS33; # JP2-66 
NET "CLKMPRE" LOC="D21" | IOSTANDARD=LVCMOS33; # JP2-67 
NET "FPGA_MOD0" LOC="E20" | IOSTANDARD=LVCMOS33; # JP2-68 
NET "MSTREAM[10]" LOC="D22" | IOSTANDARD=LVCMOS33; # JP2-69 
NET "FPGA_MOD90" LOC="E22" | IOSTANDARD=LVCMOS33; # JP2-70 
NET "MSTREAM[16]" LOC="B21" | IOSTANDARD=LVCMOS33; # JP2-71 
NET "CP_COLMUX_IN" LOC="C20" | IOSTANDARD=LVCMOS33; # JP2-72 
NET "MSTREAM[11]" LOC="B22" | IOSTANDARD=LVCMOS33; # JP2-73 
#NET "" LOC="C22" | IOSTANDARD=LVCMOS33; # JP2-74 
#NET "" LOC="A21" | IOSTANDARD=LVCMOS33; # JP2-75 
#NET "" LOC="A20" | IOSTANDARD=LVCMOS33; # JP2-76 
NET "MSTREAM[14]" LOC="J20" | IOSTANDARD=LVCMOS33; # JP2-77 
#NET "" LOC="" ; # JP2-78 
NET "MSTREAM[12]" LOC="J22" | IOSTANDARD=LVCMOS33; # JP2-79 
#NET "" LOC="" ; # JP2-80 
#NET "" LOC="" ; # JP1-1 
#NET "" LOC="" ; # JP1-2 
#NET "" LOC="" ; # JP1-3 
#NET "" LOC="" ; # JP1-4 
#NET "" LOC="" ; # JP1-5 
#NET "" LOC="" ; # JP1-6 
#NET "" LOC="" ; # JP1-7 
NET "LASER_SS" LOC="T14" ; # JP1-8 
#NET "" LOC="" ; # JP1-9 
NET "DIGSIG0" LOC="Y9" ; # JP1-10 
#NET "" LOC="" ; # JP1-11 
NET "DIGSIG1" LOC="AB9" ; # JP1-12 
#NET "" LOC="" ; # JP1-13 
#NET "" LOC="" ; # JP1-14 
NET "PIXGLOB_RES" LOC="W20" | IOSTANDARD=LVCMOS33; # JP1-15 
#NET "LASER_LVDS_N" LOC="W20" | IOSTANDARD=LVCMOS33; # JP1-15 
#NET "" LOC="T19" | IOSTANDARD=LVCMOS33; # JP1-16 
NET "DRAIN" LOC="W22" | IOSTANDARD=LVCMOS33; # JP1-17 
#NET "LASER_LVDS_N" LOC="W22" | IOSTANDARD=LVCMOS33; # JP1-17 
#NET "" LOC="T20" | IOSTANDARD=LVCMOS33; # JP1-18 
#NET "" LOC="U19" | IOSTANDARD=LVCMOS33; # JP1-19 
NET "SYNC_SENSOR" LOC="P17" | IOSTANDARD=LVCMOS33; # JP1-20 
#NET "" LOC="V20" | IOSTANDARD=LVCMOS33; # JP1-21 
NET "STAT_SENSOR" LOC="N16" | IOSTANDARD=LVCMOS33; # JP1-22 
NET "PIXRES_L" LOC="C5" | IOSTANDARD=LVCMOS33; # JP1-23 
NET "ToF_SENSOR" LOC="M17" | IOSTANDARD=LVCMOS33; # JP1-24 
NET "PIXRES_R" LOC="A5" | IOSTANDARD=LVCMOS33; # JP1-25 
NET "DIGSIG2" LOC="M18" | IOSTANDARD=LVCMOS33; # JP1-26 
NET "COL_L_EN" LOC="D14" | IOSTANDARD=LVCMOS33; # JP1-27 
NET "DIGSIG3" LOC="P18" | IOSTANDARD=LVCMOS33; # JP1-28 
NET "PGA_RES" LOC="C14" | IOSTANDARD=LVCMOS33; # JP1-29 
#NET "" LOC="R19" | IOSTANDARD=LVCMOS33; # JP1-30 
#NET "" LOC="E16" | IOSTANDARD=LVCMOS33; # JP1-31 
#NET "" LOC="D9" | IOSTANDARD=LVCMOS33; # JP1-32 
#NET "" LOC="D17" | IOSTANDARD=LVCMOS33; # JP1-33 
#NET "" LOC="C8" | IOSTANDARD=LVCMOS33; # JP1-34 
#NET "" LOC="" ; # JP1-35 
#NET "" LOC="Bank 0 VCCO" ; # JP1-36 
NET "SAMP_R" LOC="D7" | IOSTANDARD=LVCMOS33; # JP1-37 
#NET "" LOC="D10" | IOSTANDARD=LVCMOS33; # JP1-38 
NET "SAMP_S" LOC="D8" | IOSTANDARD=LVCMOS33; # JP1-39 
NET "ROWADD[0]" LOC="C10" | IOSTANDARD=LVCMOS33; # JP1-40 
#NET "" LOC="L17" | IOSTANDARD=LVCMOS33; # JP1-41 
NET "ROWADD[1]" LOC="D11" | IOSTANDARD=LVCMOS33; # JP1-42 
#NET "" LOC="K18" | IOSTANDARD=LVCMOS33; # JP1-43 
NET "ROWADD[4]" LOC="C12" | IOSTANDARD=LVCMOS33; # JP1-44 
NET "READ_S" LOC="D6" | IOSTANDARD=LVCMOS33; # JP1-45 
NET "ROWADD[2]" LOC="D15" | IOSTANDARD=LVCMOS33; # JP1-46 
NET "READ_R" LOC="C6" | IOSTANDARD=LVCMOS33; # JP1-47 
NET "ROWADD[6]" LOC="C16" | IOSTANDARD=LVCMOS33; # JP1-48 
#NET "" LOC="A3" | IOSTANDARD=LVCMOS33; # JP1-49 
NET "ROWADD[7]" LOC="B6" | IOSTANDARD=LVCMOS33; # JP1-50 
#NET "" LOC="A4" | IOSTANDARD=LVCMOS33; # JP1-51 
NET "ROWADD[5]" LOC="A6" | IOSTANDARD=LVCMOS33; # JP1-52 
NET "CK_PH1" LOC="B8" | IOSTANDARD=LVCMOS33; # JP1-53 
NET "ROWADD[3]" LOC="C7" | IOSTANDARD=LVCMOS33; # JP1-54 
#NET "" LOC="" ; # JP1-55 
#NET "" LOC="Bank 0 VCCO" ; # JP1-56 
#NET "" LOC="A8" | IOSTANDARD=LVCMOS33; # JP1-57 
#NET "" LOC="A7" | IOSTANDARD=LVCMOS33; # JP1-58 
NET "SH_R1" LOC="B10" | IOSTANDARD=LVCMOS33; # JP1-59 
#NET "" LOC="C9" | IOSTANDARD=LVCMOS33; # JP1-60 
NET "ADC_CLKOUT_1" LOC="A10" | IOSTANDARD=LVCMOS33; # JP1-61 
#NET "" LOC="A9" | IOSTANDARD=LVCMOS33; # JP1-62 
NET "ADC_DIN1[1]" LOC="C13" | IOSTANDARD=LVCMOS33; # JP1-63 
#NET "" LOC="B12" | IOSTANDARD=LVCMOS33; # JP1-64 
NET "ADC_DIN1[0]" LOC="A13" | IOSTANDARD=LVCMOS33; # JP1-65 
#NET "" LOC="A12" | IOSTANDARD=LVCMOS33; # JP1-66 
NET "ADC_DIN1[3]" LOC="C15" | IOSTANDARD=LVCMOS33; # JP1-67 
#NET "" LOC="B14" | IOSTANDARD=LVCMOS33; # JP1-68 
NET "ADC_DIN1[2]" LOC="A15" | IOSTANDARD=LVCMOS33; # JP1-69 
#NET "" LOC="A14" | IOSTANDARD=LVCMOS33; # JP1-70 
NET "ADC_DIN1[5]" LOC="C17" | IOSTANDARD=LVCMOS33; # JP1-71 
#NET "" LOC="B16" | IOSTANDARD=LVCMOS33; # JP1-72 
NET "ADC_DIN1[4]" LOC="A17" | IOSTANDARD=LVCMOS33; # JP1-73 
#NET "" LOC="A16" | IOSTANDARD=LVCMOS33; # JP1-74 
NET "CLK100MHz" LOC="A18" | IOSTANDARD=LVCMOS33; # JP1-75 
#NET "" LOC="B18" | IOSTANDARD=LVCMOS33; # JP1-76 
NET "ADC_DIN1[7]" LOC="C11" | IOSTANDARD=LVCMOS33; # JP1-77 
#NET "" LOC="" ; # JP1-78 
NET "ADC_DIN1[6]" LOC="A11" | IOSTANDARD=LVCMOS33; # JP1-79 
#NET "" LOC="" ; # JP1-80 
# LEDs ################################################################
#NET "led[0]"     LOC="V19"    | IOSTANDARD=LVCMOS18;
#NET "led[1]"     LOC="V18"    | IOSTANDARD=LVCMOS18;
#NET "led[2]"     LOC="Y19"    | IOSTANDARD=LVCMOS18;
#NET "led[3]"     LOC="AB14"   | IOSTANDARD=LVCMOS18;
#NET "led[4]"     LOC="AB19"   | IOSTANDARD=LVCMOS18;
#NET "led[5]"     LOC="AB17"   | IOSTANDARD=LVCMOS18;
#NET "led[6]"     LOC="AB16"   | IOSTANDARD=LVCMOS18;
#NET "led[7]"     LOC="AB10"   | IOSTANDARD=LVCMOS18;

# Flash ###############################################################
#NET "spi_dq0"        LOC = "W3"   | IOSTANDARD="LVCMOS18";
#NET "spi_c"          LOC = "W1"   | IOSTANDARD="LVCMOS18";
#NET "spi_s"          LOC = "V3"   | IOSTANDARD="LVCMOS18";
#NET "spi_dq1"        LOC = "T4"   | IOSTANDARD="LVCMOS18";
#NET "spi_w_dq2"      LOC = "T3"   | IOSTANDARD="LVCMOS18";
#NET "spi_hold_dq3"   LOC = "U4"   | IOSTANDARD="LVCMOS18";

# DRAM ################################################################     
NET  "ddr2_a[0]"       LOC = "H2" | IOSTANDARD = SSTL18_II;
NET  "ddr2_a[10]"      LOC = "G4" | IOSTANDARD = SSTL18_II;
NET  "ddr2_a[11]"      LOC = "C1" | IOSTANDARD = SSTL18_II;
NET  "ddr2_a[12]"      LOC = "D1" | IOSTANDARD = SSTL18_II;
NET  "ddr2_a[13]"      LOC = "G6" | IOSTANDARD = SSTL18_II;
NET  "ddr2_a[1]"       LOC = "H1" | IOSTANDARD = SSTL18_II;
NET  "ddr2_a[2]"       LOC = "H5" | IOSTANDARD = SSTL18_II;
NET  "ddr2_a[3]"       LOC = "K6" | IOSTANDARD = SSTL18_II;
NET  "ddr2_a[4]"       LOC = "F3" | IOSTANDARD = SSTL18_II;
NET  "ddr2_a[5]"       LOC = "K3" | IOSTANDARD = SSTL18_II;
NET  "ddr2_a[6]"       LOC = "J4" | IOSTANDARD = SSTL18_II;
NET  "ddr2_a[7]"       LOC = "H6" | IOSTANDARD = SSTL18_II;
NET  "ddr2_a[8]"       LOC = "E3" | IOSTANDARD = SSTL18_II;
NET  "ddr2_a[9]"       LOC = "E1" | IOSTANDARD = SSTL18_II;
NET  "ddr2_ba[0]"      LOC = "G3" | IOSTANDARD = SSTL18_II;
NET  "ddr2_ba[1]"      LOC = "G1" | IOSTANDARD = SSTL18_II;
NET  "ddr2_ba[2]"      LOC = "F1" | IOSTANDARD = SSTL18_II;
NET  "ddr2_cas_n"      LOC = "K4" | IOSTANDARD = SSTL18_II;
NET  "ddr2_ck"         LOC = "H4" | IOSTANDARD = DIFF_SSTL18_II;
NET  "ddr2_ck_n"       LOC = "H3" | IOSTANDARD = DIFF_SSTL18_II;
NET  "ddr2_cke"        LOC = "D2" | IOSTANDARD = SSTL18_II;
NET  "ddr2_dm"         LOC = "L4" | IOSTANDARD = SSTL18_II;
NET  "ddr2_dq[0]"      LOC = "N3" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[10]"     LOC = "R3" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[11]"     LOC = "R1" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[12]"     LOC = "U3" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[13]"     LOC = "U1" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[14]"     LOC = "V2" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[15]"     LOC = "V1" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[1]"      LOC = "N1" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[2]"      LOC = "M2" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[3]"      LOC = "M1" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[4]"      LOC = "J3" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[5]"      LOC = "J1" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[6]"      LOC = "K2" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[7]"      LOC = "K1" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[8]"      LOC = "P2" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dq[9]"      LOC = "P1" | IOSTANDARD = SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dqs"        LOC = "L3" | IOSTANDARD = DIFF_SSTL18_II | IN_TERM = NONE;
NET  "ddr2_dqs_n"      LOC = "L1" | IOSTANDARD = DIFF_SSTL18_II | IN_TERM = NONE;
NET  "ddr2_odt"        LOC = "J6" | IOSTANDARD = SSTL18_II;
NET  "ddr2_ras_n"      LOC = "K5" | IOSTANDARD = SSTL18_II;
NET  "ddr2_udm"        LOC = "M3" | IOSTANDARD = SSTL18_II;
NET  "ddr2_udqs"       LOC = "T2" | IOSTANDARD = DIFF_SSTL18_II | IN_TERM = NONE;
NET  "ddr2_udqs_n"     LOC = "T1" | IOSTANDARD = DIFF_SSTL18_II | IN_TERM = NONE;
NET  "ddr2_we_n"       LOC = "F2" | IOSTANDARD = SSTL18_II;
NET  "ddr2_cs_n"       LOC = "C3" | IOSTANDARD = LVCMOS18;
NET  "ddr2_rzq"        LOC = "K7" | IOSTANDARD = SSTL18_II;
NET  "ddr2_zio"        LOC = "Y2" | IOSTANDARD = SSTL18_II;
